<h1>Listing offers</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Title</th>
    <th>Byline</th>
    <th>Category</th>
    <th>DetailedDescription</th>
    <th>TermsConditions</th>
    <th>RetailPrice</th>
    <th>DiscountPrice</th>
    <th>PercentOff</th>
    <th>DollarValue</th>
    <th>ValidationRequired</th>
    <th>NumberOffered</th>
    <th>StartDate</th>
    <th>ExpirationDate</th>
    <th>NumberStampsRequired</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @offers.each do |offer| %>
  <tr>
    <td><%= offer.type %></td>
    <td><%= offer.title %></td>
    <td><%= offer.byline %></td>
    <td><%= offer.category %></td>
    <td><%= offer.detailedDescription %></td>
    <td><%= offer.termsConditions %></td>
    <td><%= offer.retailPrice %></td>
    <td><%= offer.discountPrice %></td>
    <td><%= offer.percentOff %></td>
    <td><%= offer.dollarValue %></td>
    <td><%= offer.validationRequired %></td>
    <td><%= offer.numberOffered %></td>
    <td><%= offer.startDate %></td>
    <td><%= offer.expirationDate %></td>
    <td><%= offer.numberStampsRequired %></td>
    <td><%= link_to 'Show', offer %></td>
    <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
    <td><%= link_to 'Destroy', offer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Offer', new_offer_path %>
